@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #02202c;
    font-family: 'Yaldevi', sans-serif;
    font-size: 20px;
}

main {
    padding: 10px;
}

header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    margin-bottom: 100px;
}

header nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 15px;
}

header nav ul li {
    text-decoration: none;
    background-image: linear-gradient(90deg, #EE9B00, #AE2012);
    background-size: 0% 1px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: 1s ease;
}

header nav ul li:hover {
    background-size: 100% 2px;
  
}

.logo {
    text-decoration: none;
    background-image: linear-gradient(90deg, #EE9B00, #AE2012);
    background-size: 0% 1px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: 1s ease;
}

.logo:hover {
    background-size: 100% 2px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    margin-bottom: 100px;
}

.intro-image {
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
}

.intro-text {
    width: 70%;
    max-width: 600px;
    margin: auto;
}

.intro-text > * {
    margin-bottom: 20px;
}

.fancyLink {
    text-decoration: none;
    background-image: linear-gradient(90deg, #EE9B00, #AE2012);
    background-size: 0% 1px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: 1s ease;
}

.fancyLink:hover {
    background-size: 100% 2px;
}


.first-button {
    width: 70%;
    margin: 0 auto;
    background-color: #005F73;
    color: #fff;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 30px;
}

.first-button:hover {
    background-color: #AE2012;
    transition: background-color 1s;
}

.section-two {
    display: flex;
    flex-direction: column;
    gap: 70px;
    text-align: center;
    padding-inline: 50px;
    margin-bottom: 100px;
}

.features {
    max-width: 500px;
    margin: auto;
}

.section-two img {
    width: 80px;
    margin-bottom: 20px;
}

.section-two h3 {
    margin-bottom: 20px;
}

.section-three {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-bottom: 150px;
}

.section-three img {
    width: 70%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;

}

.text-three {
    width: 70%;
    max-width: 600px;
    margin: auto;
}

.text-three > * {
    margin-bottom: 20px;
}

.text-three a {
    color: #0A9396;
    border-bottom: 1px solid #0A9396;
    padding-bottom: 10px;
}

.text-three a:hover {
    color: #AE2012;
    border-bottom: 1px solid #AE2012;
}

.review-cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.review-cards::before {
    content: open-quote;
    font-size: 200px;
    margin: 0 auto;
    line-height: .3;
    color: #AE2012;
}

.cards {
    width: 90%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #005F73;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cards:hover {
    background-color: #AE2012;
}

.cards p {
    margin-bottom: 20px;
}

.cards img {
    width: 80px;
    border-radius: 50%;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.names {
    display: flex;
    flex-direction: column;
}

.subscribe {
    background-color: #001219;
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 700px;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 10px;
}

.subscribe > * {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    height: 50px;
    width: 70%;
    margin: auto;
    outline: 0;
    border: 0;
    border-radius: 25px;
    padding-inline-start: 20px;
    margin-bottom: 20px;
    color: #001219;
}

.second-button {
    width: 70%;
    margin: 0 auto;
    background-color: #005F73;
    color: #fff;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
}

.second-button:hover {
    background-color: #AE2012;
    transition: background-color 1s;
}

footer {
    background-color: #001219;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
}

footer > * {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

small > a {
    text-decoration: none;
    background-image: linear-gradient(90deg, #EE9B00, #AE2012);
    background-size: 0% 1px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: 1s ease;
}

small > *:hover {
    background-size: 100% 2px;
}

footer img {
    width: 30px;
}

.location {
    width: 50%;
}

.email,
.phone {
    display: flex;
    gap: 10px;
    align-items: center;
}

.list-one,
.list-two {
    margin-top: 50px;
}

.list-one > * {
    width: max-content;
    text-decoration: none;
    background-image: linear-gradient(90deg, #EE9B00, #AE2012);
    background-size: 0% 1px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: 1s ease;
}

.list-two > * {
    width: max-content;
    text-decoration: none;
    background-image: linear-gradient(90deg, #EE9B00, #AE2012);
    background-size: 0% 1px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: 1s ease;
}

.list-one > *:hover {
    background-size: 100% 2px;
}

.list-two > *:hover {
    background-size: 100% 2px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
}

@media (min-width: 1100px) {

    .section-two {
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    .features {
        padding-inline: 50px;
    }
    .section-three {
        flex-direction: row;
    }

    .section-three img {
        width: 50%;
       
    }

    .text-three {
        width: 60%;
    }

    .text-three > * {
        margin-bottom: 30px;
        padding-inline: 30px;
    }

    .review-cards {
        flex-direction: row;
        gap: 20px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .location {
        width: 30%;
    }

    .list-one,
    .list-two,
    .social-icons {
        margin-top: 0;

    }
}

